.box {
  height: 100px;
  width: 200px;
  margin: 10px 0;
  background-color: blue;

  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: aliceblue;

  transition-property: all;
  transition-duration: 6s;
  /* transition-timing-function: ease-in; */
  /* transition-delay: 4s; */
}

#parent:hover > .box {
  width: 100vw;
  background-color: red;
}
