.box {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: rgb(133, 84, 57);

  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
  /* transition-delay: 4s; */
}

.box:hover,
.box:focus {
  width: 400px;
}
