ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  /* text-wrap: none; */
  word-wrap: break-word;
}

li {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  text-transform: uppercase;
  background-color: whitesmoke;
  font-family: sans-serif;
  color: rgb(185, 181, 181);

  position: relative;
}

li:hover {
  cursor: pointer;
  background-color: thistle;
}

li::before,
li::after {
  content: "";
  height: 4px;

  position: absolute;

  /* для всех числовых значений можно задать переходы */

  transition-property: width;
  transition-duration: 0.5s;
}

li::before {
  background-image: linear-gradient(
    to right,
    rgb(133, 72, 133),
    thistle
  );
  bottom: calc(100% + 2px);
  right: 0;
  width: 0;
}

li::after {
  background-image: linear-gradient(
    to right,
    rgb(241, 225, 225),
    rgb(150, 15, 150)
  );

  bottom: calc(0% - 6px);
  left: 0;
  width: 0;
}

li:hover::before,
li:hover::after {
  width: 100%;
}
